include ../custom-input/custom-input
include ../pickup-card/pickup-card
include ../autocomplete-dropdown/autocomplete-dropdown

mixin delivery-address-modal()
    .modal#deliveryAddressModal(aria-hidden="true")
        +b.delivery-address-modal
            .modal__overlay(tabindex="-1" data-micromodal-close="")
                .modal__dialog(role="dialog" aria-modal="true" aria-labelledby="deliveryAddressModalTitle" data-micromodal-close="")
                    +e.body
                        +e.BUTTON.close.modal__close(aria-label="Закрыть окно" data-micromodal-close="")
                            svg(id="close" viewBox="0 0 14 14" aria-label="Иконка")
                                path(d="M.408 11.998c-.378.387-.395 1.072.009 1.468.404.395 1.081.386 1.468.009l4.992-4.993 4.983 4.993c.396.386 1.073.395 1.468-.01.396-.403.404-1.071.009-1.467L8.345 7.006l4.992-4.984a1.048 1.048 0 00-.009-1.467 1.065 1.065 0 00-1.468-.01L6.877 5.539 1.885.546C1.498.168.812.15.417.555.021.959.03 1.635.408 2.014L5.4 7.006.408 11.998z")
                        +e.tabs-nav
                            button.active(type='button' data-target='delivery') Доставка
                            button(type='button' data-target='pickup') Самовывоз
                        +e.tabs
                            +e.tab.active(data-type='delivery')
                                +e.delivery
                                    +e.FORM.form(action='dada-address.php')
                                        +e.P.text Если Ваш адрес не входит в текущую зону доставки – сообщите отдельно менеджеру по телефону. Мы постараемся подобрать альтернативный вариант.
                                        +e.input
                                            +custom-input({id: 'deliveryModalAddress', name: 'address', label: 'Адрес доставки', required: true})(data-validate='text' autocomplete='off' disabled)
                                            +autocomplete-dropdown([{id: 0, label: 'Лиговский проспект, 140'}, {id: 1, label: 'Лиговский переулок'},{id: 2, label: 'Лиговский тупик'}])
                                        +e.BUTTON.submit.btn.--orange(type='submit') Выбрать адрес
                                        +e.BUTTON.not-found(type='button') Моего адреса нет в зонах доставки
                                        +e.tips
                                            +e.P.tip(data-type='delivery') Стоимость доставки по г. Санкт-Петербургу и области, входящей в зону доставки — 199 рублей. При заказе от 2900 рублей — доставка бесплатна.
                                            +e.P.tip(data-type='joint') Стоимость доставки по области, входящей в зону доставки для Совместной Закупки — 179 рублей. При заказе от 3500 рублей — доставка бесплатна.
                                            +e.P.tip(data-type='pickup') Стоимость доставки при Самовывозе из пункта выдачи заказов – бесплатно.
                                    +e.map
                                        #deliveryMap
                            +e.tab(data-type='pickup')
                                +e.pickup
                                    +e.cards
                                        +e.cards-inner
                                            each card in pickupAddresses
                                                +e.card(data-id=card.index)
                                                    +pickup-card(card)
                                    +e.map
                                        #pickupMap

