

mixin brand-descr()
    +b.SECTION.about-descr
        +b.DIV.about-descr__pic.animate
            +img('about/made-in-lo_1.svg')
        +b.DIV.about-descr__text.animate
            +b.P.text 
                | ввывывы В фирменном интернет-магазине птицефабрики «Северная» представлены как собственные бренды, так и торговые марки производителей-партнеров.
            +b.P.text 
                | Большую часть ассортимента магазина составляют продукты от местных, локальных производств из Ленинградской области.
            +b.P.text 
                | Свежесть представленных продуктов питания все так же остается для нас приоритетом. Все продукты, произведенные птицефабрикой «Северная» доставляются Вам строго в день производства. Продукты партнеров имеют ближайшую дату со дня выпуска. 