.guaranty-card{
    transition: .3s;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    @media #{$tablet} {
        margin-bottom: 45px;
        width: 47%;
    }

    @media #{$laptop} {
        margin-bottom: 40px;
        width: 31%;
    }

    &__wrapper{
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 10%);
        max-width: 360px;
        cursor: pointer;
        &.animate{
            opacity: 0;
            transform: translateY(100px);
        }

        &.animated{
            transform: translateY(0);
            opacity: 1;
        }
    }

    &:nth-child(1){
        & .guaranty-card__wrapper{
            transition: .6s;
        }
    }
    &:nth-of-type(2){
        & .guaranty-card__wrapper{
            transition: .8s;
        }
    }
    &:nth-of-type(3){
        & .guaranty-card__wrapper{
            transition: 1s;
        }
    }
    &:nth-of-type(4){
        & .guaranty-card__wrapper{
            transition: .6s;
        }
    }
    &:nth-of-type(5){
        & .guaranty-card__wrapper{
            transition: .8s;
        }
    }
    &:nth-of-type(6){
        & .guaranty-card__wrapper{
            transition: 1s;
        }
    }

    & img{
        max-width: 100%;
    }

    & .guaranty-card__body{
        padding: 30px;
        text-align: left;
    }

    & h3.guaranty-card__title{
        margin: 0 0 10px;
        font-size: 18px;
        font-weight: 700;
    }

    & .guaranty-card__text{
        display: block;
        font-size: 10px;
    }
}