.auth-modal {
    &__close {
        top: 12px;
        right: 12px;
    }

    &__steps {
        position: relative;
        padding: 52px 24px;
        max-width: 404px;

        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    }

    &__step {
        display: none;

        &.active {
            display: block;
        }
    }

    &__title {
        margin: 0 0 24px;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 700;
    }

    &__subtitle {
        margin: 0 0 24px;

        font-size: 14px;
        font-weight: 500;
        line-height: 1.6;
    }

    &__row {
        display: flex;
        margin: 0 -8px 24px;
    }

    &__input {
        flex: 1 1 auto;
        padding: 0 8px;

        .custom-checkbox__label {
            font-size: 12px;
        }
    }

    &__submit {
        width: 100%;
    }
    &__policy {
        font-size: 12px;
        text-align: center;
        a {
            color: inherit;
        }
    }
}

@media #{$tablet} {
    .auth-modal {
        &__steps {
            padding: 52px 40px;
        }
    }
}

@media #{$desktop} {
    .auth-modal {
    }
}
