mixin checkout-instruction(title)
    +b.SECTION.checkout-instruction
        +inner
            +e.wrapper
                +e.main
                    +e.sticky.content-snippet
                        h2 !{title}
                        p Максимальное количество заказов на одну дату — 30 заказов. Оператор подтвердит возможность участия в «Совместной закупке».
                        p Оплата за товар принимается на сайте, стоимость доставки оплачивается отдельно (ссылку на оплату отправляет оператор интернет-магазина после подтверждения возможности участия).
                        p
                            b Если у Вас остались вопросы или необходима помощь в оформлении заказа, просто позвоните нам:
                        p
                            a(href='tel: +7 (812) 561-68-35') +7 (812) 561-68-35
                +e.ASIDE.aside
                    +img('checkout-instruction/image.jpg')