mixin header-marquee()
    +b.header-marquee
        +e.A.inner(href="/")
            +e.SPAN.text  Участвуйте в розыгрыше призов PROMO.SEVERNAYA.RU, ну пожалуйста, ну поучавствуйте, потратьте деньги!
