mixin location-contacts(mapType)
    +b.SECTION.location-contacts
        +inner
            +e.container
                +e.content.content-snippet
                    block
                +e.map(data-map=mapType)
                    #map
                if (mapType === 'pickup')
                    +e.tip Пункт находится на первом этаже в помещении 113, в корпусе Б ТРК "Гулливер", с парковки войдите в центральный вход здания находящегося ближе к железной дороге, поверните налево, пункт находится напротив салона красоты. С Торфяной улицы войдите на территорию ТРК Гулливер, под воздушным мостом перед парковкой поверните направо и зайдите в здание, поверните налево и пройдите по коридору, пункт находится с правой стороны. Добро пожаловать!
