mixin article-section()
    +b.SECTION.article-section
        +inner
            +e.wrapper
                +e.image
                    +img('sales/image4.jpg')
                +e.content.content-snippet
                    p Если ранее на ваш номер телефона не было оформлено ни одного заказа, то на первый заказ будет действовать бесплатная доставка вне зависимости от временных интервалов. Услуга доступна как в основной зоне доставки, так и в Пушкине, Петергофе в рамках Совместной закупки. Менеджер магазина подтвердит возможность участия в акции.
                    p
                        a(href='sales-page.html') Все акции
