mixin socials(mod='')
    +b.UL.socials(class=mod)
        +e.LI.item
            +e.A.link(href='#')
                +img('socials/telegram.svg', true)
        +e.LI.item
            +e.A.link(href='#')
                +img('socials/vk.svg', true)
        +e.LI.item
            +e.A.link(href='#')
                +img('socials/ok.svg', true)
        +e.LI.item
            +e.A.link(href='#')
                +img('socials/facebook.svg', true)
