extends layout

include ../blocks/main-header/main-header.pug
include ../blocks/page-header/page-header.pug
include ../blocks/sub-nav/sub-nav.pug
include ../blocks/main-footer/main-footer.pug

block page
    +main-header
    +page-header('Личный кабинет')
        +e.actions
            +e.A.account-exit(href='./') Выйти
    +sub-nav(activeIndex, devNav.account)
    block content
    +main-footer

block modals
