extends ../page-layout


include ../../blocks/brand-descr/brand-descr

block variables
    -const pageTitle = 'бренды'

block content
    +b.breadcrumbs
        +inner
            +e.UL.list
                +e.item
                    +e.A(href='/').link
                        span Главная
                +e.item
                    +e.A(href='/').link
                        span Бренды

    +b.SECTION.s-brands-info
        +inner
            +b.brands-info
                +e.text
                    p В фирменном интернет-магазине птицефабрики «Северная» представлены как собственные бренды, так и торговые марки производителей-партнеров.
                    p Большую часть ассортимента магазина составляют продукты от местных, локальных производств из Ленинградской области.
                    p Свежесть представленных продуктов питания все так же остается для нас приоритетом. Все продукты, произведенные птицефабрикой «Северная» доставляются Вам строго в день производства. Продукты партнеров имеют ближайшую дату со дня выпуска.
                +e.image
                    +img('about/made-in-lo_1.svg')
        
            +b.brands-list
                +e.card
                    +e.header
                        +e.title
                            | Птицефабрика Северная
                        +e.image
                            +img('logo-footer.svg', true)
                    +e.main
                        +e.subtitle
                            | Бренд базового продукта – самого мяса цыплят-бройлеров. Предлагает привычные и понятные продукты – тушку, разделку и субпродукты птицы.
                +e.card.--big
                    +e.header
                        +e.title
                            | Птицефабрика Северная
                        +e.image
                            +img('logo-footer.svg', true)
                    +e.main
                        +e.subtitle
                            | Бренд базового продукта – самого мяса цыплят-бройлеров. Предлагает привычные и понятные продукты – тушку, разделку и субпродукты птицы.
                +e.card.--big
                    +e.header
                        +e.title
                            | Птицефабрика Северная
                        +e.image
                            +img('logo-footer.svg', true)
                    +e.main
                        +e.subtitle
                            | Бренд базового продукта – самого мяса цыплят-бройлеров. Предлагает привычные и понятные продукты – тушку, разделку и субпродукты птицы.
                +e.card
                    +e.header
                        +e.title
                            | Птицефабрика Северная
                        +e.image
                            +img('logo-footer.svg', true)
                    +e.main
                        +e.subtitle
                            | Бренд базового продукта – самого мяса цыплят-бройлеров. Предлагает привычные и понятные продукты – тушку, разделку и субпродукты птицы.
                +e.card
                    +e.header
                        +e.title
                            | Птицефабрика Северная
                        +e.image
                            +img('logo-footer.svg', true)
                    +e.main
                        +e.subtitle
                            | Бренд базового продукта – самого мяса цыплят-бройлеров. Предлагает привычные и понятные продукты – тушку, разделку и субпродукты птицы.
                +e.card.--big
                    +e.header
                        +e.title
                            | Птицефабрика Северная
                        +e.image
                            +img('logo-footer.svg', true)
                    +e.main
                        +e.subtitle
                            | Бренд базового продукта – самого мяса цыплят-бройлеров. Предлагает привычные и понятные продукты – тушку, разделку и субпродукты птицы.
                +e.card
                    +e.header
                        +e.title
                            | Птицефабрика Северная
                        +e.image
                            +img('logo-footer.svg', true)
                    +e.main
                        +e.subtitle
                            | Бренд базового продукта – самого мяса цыплят-бройлеров. Предлагает привычные и понятные продукты – тушку, разделку и субпродукты птицы.
