extends ../page-layout

include ../../blocks/sub-nav/sub-nav
include ../../blocks/content-section/content-section
include ../../blocks/delivery-map/delivery-map

block variables
    -const pageTitle = 'Условия и зона доставки'

block head

block content
    +sub-nav(1, devNav.infoPages)
    +content-section
        p В день доставки с Вами свяжется курьер, чтобы подтвердить более точное время доставки.
        p Доставка осуществляется до указанного Вами адреса. Если указан номер квартиры или офиса, то доставка будет осуществлена до них.
        p В случае, если доставка в выбранный Вами день или временной интервал не доступна, с Вами свяжется оператор службы Логистики и предложит альтернативный вариант. Если у Вас изменились планы и Вы не сможете принять заказ в указанное Вами время, пожалуйста, сообщите нам по телефону <a href='tel: +7(812) 339-30-06' style='whitespace: nowrap'>+7 (812) 339-30-06</a> или на почту <a href='mail: shop@severnaya.ru'>shop@severnaya.ru</a>
        p Стоимость доставки по г. Санкт-Петербургу и области, входящей в зону доставки —
        ul
            li Для интервалов 11-18 и 18-22 — 199 рублей (оплачивается отдельно от заказа).
            li Для 2-х часовых интервалов — 299 рублей (оплачивается отдельно от заказа).
            li При заказе от 2900 рублей — доставка бесплатная для интервалов 11-18 и 18-22.
            li При доставке в 2-х часовые интервалы – доставка платная ,100 рублей вне зависимости от суммы покупки.
        +delivery-map
        p Если Ваш адрес не входит в текущую зону доставки – сообщите отдельно менеджеру по телефону. Мы постараемся подобрать альтернативный вариант.
        h2 Самовывоз
        p Услуга самовывоза на данный момент НЕ доступна. Если Вам интересен такой вариант доставки, напишите на почту <a href='mail: shop@severnaya.ru'>shop@severnaya.ru</a> с указанием потенциального района для самовывоза.