extends ../page-layout

include ../../blocks/sub-nav/sub-nav
include ../../blocks/content-section/content-section
include ../../blocks/location-contacts/location-contacts
include ../../blocks/checkout-instruction/checkout-instruction


block variables
    -const pageTitle = 'Совместная закупка'

block head

block content
    +sub-nav(0, devNav.jointPurchase)
    +content-section
        p По многочисленным просьбам наших Покупателей мы постепенно расширяем зону нашей доставки.
        p Акция «Совместная закупка» подразумевает, что в определённые даты мы будем выделять отдельный транспорт, чтобы привезти свежую продукцию домой тем Покупателям, чей адрес не входит в нашу зону доставки.
        p Заказы для участия в «Совместной закупке» принимаются заранее. На все заказы действует 100% предоплата Товара и стоимости Доставки. <b>Минимальной суммы заказа нет.</b> При оформлении заказа на сумму 3500 рублей и более, стоимость доставки составит 0 рублей. Дополнительная опция с двухчасовыми интервалами не действует.
        p Каждое воскресенье осуществляется доставка заказов в г. Пушкин и ближайшие области, участвующие в «Совместной закупке».
    +location-contacts('delivery-pushkin')
        h2 Условия доставки:
        p Оплата за Товар принимается на сайте, стоимость доставки оплачивается отдельно (ссылку на оплату отправляет оператор интернет-магазина после подтверждения возможности участия).
        p Стоимость доставки для «Совместной закупки» в г. Пушкин — 179 рублей. Доставка оплачивается отдельно от заказа. Участие в Акциях «Бесплатная доставка на первый заказ» и «Бесплатная доставка от 3500 ₽.» <b>возможна</b>.
        p Если Ваш адрес не входит в текущую зону доставки — обратитесь к менеджеру по телефону: <a href='tel: +7 (812) 250-11-46'>+7 (812) 250-11-46</a>, мы постараемся подобрать альтернативный вариант.