extends ../page-layout

include ../../blocks/article-section/article-section

block variables
    -const pageTitle = 'Бесплатная доставка на первый заказ'

block head

block content
    +article-section