extends ../page-layout

include ../../blocks/sub-nav/sub-nav
include ../../blocks/content-section/content-section

block variables
    -const pageTitle = 'Гарантии и возврат'

block head

block content
    +sub-nav(2, devNav.infoPages)
    +content-section
        p Продукция выпускается в тот же день, когда будет осуществляться доставка товара.
        p Мы используем собственную курьерскую службу. Автомобили доставки специально оснащены рефрижераторами, в которых поддерживается температура от -2 до +2°С.
        p Мы следим за сроком годности товаров и соблюдаем правильные условия доставки и хранения продуктов. Купленные продукты питания возврату не подлежат, если они не просрочены и не испорчены (ФЗ № 2300-1).
        p Принимая заказ, обязательно сверьтесь с транспортной накладной по количеству и наименованиям продукции в доставленном заказе.
        p Если при принятии заказа Вы обнаружили, что в заказе есть несоответствия по наименованиям продукции и/или по количеству, то:
        ul
            li при несоответствии по количеству: отметьте в транспортной накладной. В случае недопоставки товара, мы вернем денежные средства в течение 3х рабочих дней.
            li при несоответствии по наименованиям: отметьте в транспортной накладной и верните заказ нашему курьеру.
        p Если несоответствия по наименованиям продукции и/или по количеству Вы смогли обнаружить только после подписания транспортной накладной, то свяжитесь с нашим менеджером по телефону <a href='tel: +7 (812) 339-30-06' style='whitespace: nowrap'>+7 (812) 339-30-06</a> или через почту <a href='mail: shop@severnaya.ru'>shop@severnaya.ru</a>. Для более быстрого ответа в теме обращения укажите № заказа, адрес и дату поставки. В течение 2-х рабочих дней менеджер даст обратную связь по Вашему обращению.