.order-product {
    position: relative;
    display: flex;
    align-items: flex-start;

    &__image {
        width: 80px;
        height: 80px;
        flex: 0 0 auto;
        border-radius: 8px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__data {
        width: 50%;
        flex: 1 1 auto;
        padding-left: 16px;
    }

    &__title {
        margin: 0 0 12px;
        color: $theme-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.3;
        text-decoration: none;
    }

    &__subtitle {
        margin: 0 0 12px;

        font-size: 12px;
        line-height: 1.2;
        color: $text-color-grey;
    }

    &__footer {
        margin-bottom: -8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    &__amount {
        margin-bottom: 8px;
        margin-right: 24px;

        font-size: 12px;
        line-height: 1.2;
        color: $text-color-grey;
    }

    &__price {
        margin-bottom: 8px;

        font-size: 14px;
        color: $text-color;
        font-weight: 700;
        line-height: 1.2;
    }
}

@media #{$tablet} {
    .order-product {
        align-items: center;

        &__data {
            padding-left: 24px;
            display: flex;
            align-items: center;
        }

        &__main {
            max-width: 300px;
            flex: 1 1 auto;
            padding-right: 32px;
        }

        &__title {
            font-size: 14px;
        }

        &__footer {
            display: flex;
            align-items: center;
        }

        &__amount {
            text-align: center;
        }

        &__price {
            text-align: right;
        }
    }
}

@media #{$desktop} {
    .order-product {
    }
}
