mixin result-page()
     +b.SECTION.result-page
        +inner
            +e.wrapper
                +e.title Оплата не удалась
                +e.text Вы можете повторить попытку <b>онлайн</b> оплаты вашего заказа в <a href="#">личном кабинете</a>.
