@font-face {
    font-family: 'TT Wellingtons';
    src: url('../assets/fonts/Wellington/TTWellingtons-Regular.woff2') format('woff2'),
        url('../assets/fonts/Wellington/TTWellingtons-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('../assets/fonts/Wellington/TTWellingtons-Medium.woff2') format('woff2'),
        url('../assets/fonts/Wellington/TTWellingtons-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('../assets/fonts/Wellington/TTWellingtons-DemiBold.woff2') format('woff2'),
        url('../assets/fonts/Wellington/TTWellingtons-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('../assets/fonts/Wellington/TTWellingtons-Bold.woff2') format('woff2'),
        url('../assets/fonts/Wellington/TTWellingtons-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('../assets/fonts/Wellington/TTWellingtons-Black.woff2') format('woff2'),
        url('../assets/fonts/Wellington/TTWellingtons-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('../assets/fonts/Wellington/TTWellingtons-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Wellington/TTWellingtons-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Wellingtons';
    src: url('../assets/fonts/Wellington/TTWellingtons-Italic.woff2') format('woff2'),
        url('../assets/fonts/Wellington/TTWellingtons-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


